:root{
  font-size: 16px;
--bg-primary:#7789cb;
--bg-secondary:#FFD1DC;
}
body{
  margin: 0;
}
main{
  margin-left:5rem;
  padding:1rem;
}
.navbar{
background-color: var(--bg-primary);
}
.navbar-nav{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.nav-item{
  margin: 0 2vw;
  list-style-type: none; 
  width: 100%; 
}
.nav-link{
  color: var(--bg-secondary);
  padding: 2vw;
  display: flex;
  align-items: center;
  height: 5rem;
}
.nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}