body {
    background: #97F2F3;
}
button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: border-radius 1s ease-in-out, 
                width 1s ease-in-out, 
                height  1s ease-in-out, 
                transform 1s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
img {
}
.container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 10px;
}
.hamburger {
    background: #F3D1DC;
    position: relative;
    width: 100px;
    height: 10px;
}
.hamburger_animate{
    background: #F3D1DC;
    transform: translate(18em,0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.icon {
    display: none;
}
.icon_active {
    display: inherit;
}