.head {
grid-column: 1;
background: yellow;
width: 89px;
height: 78px;
border-radius: 50%;
margin: 50px 0px 0px 54px
}
.body {
  grid-column: 2;
  grid-row: 2;
  background: yellow;
  width: 140px;
  height: 75px;
  border-radius: 50%;
}
.tail {
  grid-column: 3;
  grid-row: 2;
  background: yellow;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  transform: rotate(140deg);
  margin: 12px 25px 0px 25px;
}
.peack_top {
  grid-column: 1;
  grid-row: 2;
  background: red;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  margin: calc(100% - 106px) 0px calc(100% - 2px) 36px;
  transform: rotate(30deg);
  }
.peack {
grid-column: 1;
grid-row: 2;
background: red;
width: 30px;
height: 10px;
border-radius: 50%;
margin: 0px 0px calc(100% - 90px) 36px;
}
.eye {
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 18px 20px;
}
.iris {
  background: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  background-color: #6dd1f7;
  margin: auto;
  width: 300px;
  height: 300px;
}