body {
    padding:0;
    margin:0;
}
.stage {
    width: 500px;
    height: 500px;
    margin: auto;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}
@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 200px, 0); }
  }
.ball {
    background: red;
    display: block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    margin: auto;
    background: radial-gradient(circle at 0px 50px, red, #000);
}

.ball-active{
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
}

.shadow {
    position: relative;
    margin: auto;
    width: 30%;
    height: 65px;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}
.shadow-active{
    animation: shrink 0.5s infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
}
@keyframes shrink{
    from{
        width: 30%;
    }
    to{
        width: auto;
    }
}

.title {
    font-size: 50px;
    text-align: center;
}

