.colours {
  $pastel_pink: #F3D1DC;
  $mid_beige: #EBC3C1;
  $dark_pinkish_beige: #E18D96;
  $pale_coral: #F99A9C;
  $pale_pastelPink: #F9E1E0;
}
body {
  background-color: #F9E1E0;
}
.frame {
  margin:auto;
  border: #a685e2 5px solid;
  width: 600px;
  height: 700px;
}