body {
    background: #97F2F3;
}
button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: #97F2F3;
    font-size: 14px;
    color: black;
}
.title {
    width: 100px;
    height: 10px;
}
.container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 10px;
}