:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-primary:grey;
    --text-secondary:darkblue;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
}
body{
    padding: 0;
    margin:0;
    background-color: white;
    color:black;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
main{
    margin-left:5rem;
    padding:1rem;
}
.navbar{
    width: 5rem;
}